[server]
hostname="{{hostname}}"

[super_admin]
username="$secret{user_super_admin}"
password="$secret{password_super_admin}"
admin_role="admin"
create_admin_account=true

[user_store]
class="{{user_store_class}}"
type="{{user_store_type}}"

[[datasource]]
id="{{user_store_db_id}}"
url="{{user_store_db_url}}"
username="$secret{user_db_username}"
password="$secret{user_db_password}"
driver="{{user_store_db_driver}}"
pool_options.maxActive={{user_store_db_pool_options_maxActive}}
pool_options.maxWait={{user_store_db_pool_options_maxWait}}
pool_options.testOnBorrow={{user_store_db_pool_options_testOnBorrow|lower}}

[[datasource]]
id="{{cluster_db_id}}"
url="{{cluster_db_url}}"
username="$secret{cluster_db_username}"
password="$secret{cluster_db_password}"
driver="{{cluster_db_driver}}"
pool_options.maxActive={{cluster_db_pool_options_maxActive}}
pool_options.maxWait={{cluster_db_pool_options_maxWait}}
pool_options.testOnBorrow={{cluster_db_pool_options_testOnBorrow|lower}}

[[datasource]]
id="{{transaction_db_id}}"
url="{{transaction_db_url}}"
username="$secret{transaction_db_username}"
password="$secret{transaction_db_password}"
driver="{{transaction_db_driver}}"
pool_options.maxActive={{transaction_db_pool_options_maxActive}}
pool_options.maxWait={{transaction_db_pool_options_maxWait}}
pool_options.testOnBorrow={{transaction_db_pool_options_testOnBorrow|lower}}

[transaction_counter]
enable={{transaction_enabled|lower}}
data_source="{{transaction_data_source}}"
update_interval={{transaction_update_interval}} 

[keystore.primary]
file_name="{{primary_key_store_name}}"
password="$secret{keystore_password}"
alias="{{primary_key_store_key_alias}}"
key_password="$secret{keystore_password}"

[truststore]
file_name="{{trust_store_name}}"
password="$secret{truststore_password}"
alias="{{trust_store_alias}}"
algorithm="{{trust_store_algorithm}}"

# [transport.http]
# socket_timeout = {{http_socket_timeout}}   # timeout in milliseconds
# disable_connection_keepalive = {{disabled_connection_alive}}
# connection_timeout = {{http_connection_timeout}} # in milliseconds

# [management_api]
# protocols = "http"

# [[internal_apis.users]]
# user.name = "user-1"
# user.password = "pwd-1"

# [mediation]
# synapse.global_timeout_interval = "120000"  # interval in milliseconds

[[service_catalog]]
apim_host="{{apim_host}}"
enable={{service_catalog|lower}} 
username="{{service_username}}"
password="$secret{service_catalog_password}"

[transport.http]
listener.wsdl_epr_prefix="$ref{server.hostname}"

[secrets]
user_db_username="[{{user_store_db_username}}]"
user_db_password="[{{user_store_db_password}}]"
cluster_db_username="[{{cluster_db_username}}]"
cluster_db_password="[{{cluster_db_password}}]"
coordinator_db_username="[{{transaction_db_username}}]"
coordinator_db_password="[{{transaction_db_password}}]"
user_super_admin="[{{user_super_admin}}]"
password_super_admin="[{{password_super_admin}}]"
keystore_password="[{{primary_key_store_password}}]"
truststore_password="[{{trust_store_password}}]"
service_catalog_password="[{{service_password}}]"
